.idea/
venv/
__pycache__/
.pytest_cache/
allure-results/
robot_hw4/.idea/
robot_hw4/log.html
robot_hw4/output.xml
robot_hw4/report.html
selenium_hw3/.idea/
selenium_hw3/allure-report/
selenium_hw3/allure-results/
selenium_hw1/.idea/
selenium_hw2/.pytest_cache/
selenium_hw2/allure-results/
robot_hw4/Results/
allure-report/
results/